nav
    
    br
    if user
        ul.nav-ul
            li.nav-li 
                a(href="/") Home
            li.nav-li 
                a(href="/movie/search") Search 
            li.nav-li 
                a(href="/movie/add") Add movie
            li.nav-li 
                a(href="/users/logout") Logout 
    else
        ul.nav-ul
            li.nav-li 
                    a(href="/") Home
            li.nav-li 
                a(href="/users/register") Register 
            li.nav-li 
                a(href="/movie/search") Search 
            li.nav-li 
                a(href="/users/login") Login 

